<h3>Add a New Order</h3>

<%=form_tag "/orders" do%>
  
<div>
  <p>  </p>
</div>

<h4>Order Detail</h4>  
  
  <div>
    <label>Order Date: </label>
    <input type="string" name="date" placeholder="date">
  </div>
  
  <div>
    <label>Customer Name: </label>
    <input type="string" name="name" placeholder="name">
  </div>
  
  <div>
    <label>Ordered Products: </label>
      <div><!-- Create a selection-->
        <label>Product name:  </label>
          <select name="product_id">
          <% Product.all.each do |product| %>
            <option value="<%= product.id %>"><%= product.name %></option>
          <% end %>
        </select>
      </div>
        
        <div>
          <p> Product Photo URL: </p>
          <input type="text" name="photourl1" placeholder="product photo URL">
        </div>
        <div>
          <p> Product Price: </p>
          <input type="integer" name="price" placeholder="product price">
        </div>
  </div>       
       
  <div>
    <label>Contact information: </label>
    <input type="string" name="contac_info" >
  </div>   

  <div>
    <label>Billing information: </label>
    <input type="string" name="bill_info" >
  </div>  

  <div>
    <label>Shiping information: </label>
    <input type="string" name="ship_info">
  </div>    
  
  <div>
    <input type="submit" value="Add">
  </div>

<%end%>

