

<h3>Add a new Product</h3>


<form action="/products/create">
<%#= form_tag "/products" do%>

<!-- Part1: right 2/3, pictures(big) -->
  <p>Product name: </p>
  <p><input type="string" name="name" ></p>
    
	<p> Product photo URL 1:<input type="text" name="photourl1" > </p>
	<p> Product photo URL 2:<input type="text" name="photourl2" > </p>
	<p> Product photo URL 3:<input type="text" name="photourl3" > </p>
   

    <p> Product Description: </p>
    <p> <input type="text" name="description"> </p>

<!-- Part2: left 1/3, description, price, overview, add to cart, by lists -->

  <h5> Overview: </h5>
    <ul>
      <li> Store: </li>
      <li> Product type: <input type="string" name="kind"> </li>
      <li> Product price: <input type="integer" name="price" > </li>
      <li> Product designer: <input type="string" name="designer"> </li>
      <li> Product Release Date: <input type="string" name="release_date" >  </li>
      <li> Product number in stock: <input type="integer" name="in_stock" ></li>
      <li> Product number sold: <input type="integer" name="sold"> </li>
    </ul>

  <input type="submit" value="Add">


</form>
<%# end %>

